/* Add this to your CSS file */
.dropup-orderaction .dropdown-toggle::after {
    content: none; /* Remove the arrow */
}
.dropup-orderaction:active {
    background-color: transparent; /* Removes active background */
    border: none; /* Removes border on active state */
  }
  .custom-modal-content {
    background-color: #e7ebef !important;
    
  }
  .custom-switch-ordernotemodel .form-check-input {
    width: 45px; /* Increase switch width */
    height: 22px; /* Increase switch height */
    margin-top: 0px;
  }
  
  .custom-switch-ordernotemodel .form-check-label {
    font-size: 18px; /* Increase text size */
    margin-left: 10px;
  }
  .custom-switch-billingaddress .form-check-input{
    width: 39px;
    height: 20px;
    margin-right: 5px;
  }
  .hover-customeraddnote {
    color: #000; /* Default color */
    text-decoration: none;
    /* transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out; */
  }
  
  .hover-customeraddnote:hover {
    color: #624bff; /* Change text color on hover */
    background-color: #f1f5f9; /* Change background color on hover */
    border-radius: 0px;
  }
  

  